// General breakpoints
$breakpoint--phone: 400px;
$breakpoint--desktop: 1024px;
$breakpoint--tablet: 768px;
$breakpoint-beforephone: 613px;

// Grid-related variables
$grid-column: 60px;
$grid-gutter: calc($grid-column / 3);
$grid-unit: calc($grid-column + $grid-gutter);

// Widths of artworks in gallery
$width--artworks: calc(4 * $grid-unit)
