@use 'variables' as *;
@use 'reset' as *;

body {
  main {
    color: black;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-style: normal;

    @media (max-width: $breakpoint--desktop) {
     color: purple
    }

    @media (max-width: $breakpoint--tablet) {
      color: red
     }

     @media (max-width: $breakpoint--mobile) {
      color: pink
     }
  }
}

nav {
  width: $width--drop-down-menu;
  height: $height--drop-down-menu-item;

  a {
    display: block;
    width: $width--drop-down-menu-item;
    line-height: $height--drop-down-menu-item;

    &:hover {
      background-color: ($background-color--main, 100%);
    }
  }

  > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      position: relative;
      flex-grow: 1;
      margin: 0;
      background-color: $background-color--nav;
      width: $width--drop-down-menu-item;

      &:hover {
        > ul {
          visibility: visible;
        }
      }

      > ul {
        position: absolute;
        left: 0;
        visibility: hidden;

        a {
          line-height: $height--drop-down-menu-item--li;
        }
      }
    }
  }
}

.monica-headshot img {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 35%;
  right: 35%;
  bottom: 20%;
  border: 3px solid pink;

  @media(max-width : $breakpoint--rightbeforetab) {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 20%;
  }
}

.welcome-message {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: large;
}

.introduction {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
