@use 'variables' as *;
@use 'reset' as *;

body {
  color: black;

  @media (max-width: $breakpoint--desktop) {
   color: blue
  }

  @media (max-width: $breakpoint--tablet) {
    color: red
   }

   @media (max-width: $breakpoint--mobile) {
    color: purple
   }
}
