@use 'variables' as *;
@use 'reset' as *;

body {
  main {
    color: black;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-style: normal;

    @media (max-width: $breakpoint--desktop) {
     color: purple
    }

    @media (max-width: $breakpoint--tablet) {
      color: red
     }

     @media (max-width: $breakpoint--phone) {
      color: rgb(199, 255, 192)
     }
  }
}

.monica-headshot img {
  width: 500px;
  height: 500px;
  position: absolute;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 75%;
  border: 3px solid pink;

  @media(max-width : $breakpoint--desktop) {
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 75%;
    border: 3px solid blue;
  }

  @media(max-width : $breakpoint--tablet) {
    margin-right: 17%;
    margin-left: 17%;
    margin-bottom: 75%;
    border: 3px solid blue;
  }

  @media(max-width : $breakpoint-beforephone) {
    margin-right: 0;
    margin-left: 0;
    width: 494px;
    height: 494px;
    margin-bottom: 75%;
    border: 3px solid blue;
  }

  @media(max-width : $breakpoint--phone) {
    width: 395px;
    height: 395px;
    border: 3px solid grey;
  }

}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  color: darkmagenta;
}

.welcome-message {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: large;
  padding-bottom: 40px;
}

.welcome-message nav{
  font-size: medium;
}

.introduction {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 20px;
}
