@use 'variables' as *;
@use 'reset' as *;

body {
  main {
    color: black;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-style: normal;

    @media (max-width: $breakpoint--desktop) {
     color: purple
    }

    @media (max-width: $breakpoint--tablet) {
      color: red
     }

     @media (max-width: $breakpoint--phone) {
      color: rgb(199, 255, 192)
     }
  }
}

nav {
  width: $width--drop-down-menu;
  height: $height--drop-down-menu-item;

  a {
    display: block;
    width: $width--drop-down-menu-item;
    line-height: $height--drop-down-menu-item;

    &:hover {
      background-color: black;
    }
  }

  > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      position: relative;
      flex-grow: 1;
      margin: 0;
      background-color: $background-color--nav;
      width: $width--drop-down-menu-item;

      &:hover {
        > ul {
          visibility: visible;
        }
      }

      > ul {
        position: absolute;
        left: 0;
        visibility: hidden;

        a {
          line-height: $height--drop-down-menu-item--li;
        }
      }
    }
  }
}

.monica-headshot img {
  width: 500px;
  height: 500px;
  position: absolute;
  margin-right: 35%;
  margin-left: 35%;
  margin-bottom: 75%;
  border: 3px solid pink;

  @media(max-width : $breakpoint--desktop) {
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 75%;
    border: 3px solid blue;
  }

  @media(max-width : $breakpoint--tablet) {
    margin-right: 17%;
    margin-left: 17%;
    margin-bottom: 75%;
    border: 3px solid blue;
  }

  @media(max-width : $breakpoint-beforephone) {
    margin-right: 0;
    margin-left: 0;
    width: 494px;
    height: 494px;
    margin-bottom: 75%;
    border: 3px solid blue;
  }

  @media(max-width : $breakpoint--phone) {
    width: 400px;
    height: 400px;
    border: 3px solid grey;
  }

}

.welcome-message {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: large;
}

.introduction {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
