@use 'variables' as *;
@use 'reset' as *;

body {
  color: black;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-style: normal;

  @media (max-width: $breakpoint--desktop) {
   color: blue
  }

  @media (max-width: $breakpoint--tablet) {
    color: red
   }

   @media (max-width: $breakpoint--mobile) {
    color: purple
   }
}

nav {
  width: $width--drop-down-menu;
  height: $height--drop-down-menu-item;

  a {
    display: block;
    width: $width--drop-down-menu-item;
    line-height: $height--drop-down-menu-item;

    &:hover {
      background-color: ($background-color--main, 100%);
    }
  }

  > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
      position: relative;
      flex-grow: 1;
      margin: 0;
      background-color: $background-color--nav;
      width: $width--drop-down-menu-item;

      &:hover {
        > ul {
          visibility: visible;
        }
      }

      > ul {
        position: absolute;
        left: 0;
        visibility: hidden;

        a {
          line-height: $height--drop-down-menu-item--li;
        }
      }
    }
  }
}

main {
  color: black;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.monica-headshot img {
  width: 500px;
  height: 500px;
}

.welcome-message {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-style: normal;
}
